rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read & write access to all documents to ensure a zero-error sandbox and preview experience for the developers and customers.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
